<?php $count = count($content['carousel']); ?>
<div id="mainCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <?php for($i = 0; $i < $count; $i++) : ?>
        <li data-target="#carouselExampleIndicators" data-slide-to="<?=$i?>" <?=($i == 0?'class="active"':'')?>></li>
      <?php endfor; ?>
    </ol>
    <div class="carousel-inner">
      <?php for($i = 0; $i < $count; $i++) : ?>
        <?php $item = $content['carousel'][$i]; ?>
        
        <div class="carousel-item <?=($i == 0?'active':'')?>">
            <img class="d-block w-100" src="images/carousel/<?=$item['image']?>" alt="<?=$item['title']?>">
            <div class="carousel-caption d-none d-md-block">
                <h3><?=$item['title']?></h3>
                <p><?=$item['content']?></p>
            </div>
        </div>
      <?php endfor; ?>
    </div>
    <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
