<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="<?=$page['url']['baseurl']?>">
      <div class="logo bg-dark"><img src="<?=$page['url']['baseurl']?>/images/triplea4-logo.png" /></div>
      Triple A4
    </a>
    <button class="navbar-toggler main-menubutton" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="navbar-nav mr-auto">
            <?php foreach( $pageOrder as $link ) : ?>
            <li class="nav-item <?=(isset($link['subpages']) ? 'dropdown' : '')?>">
                <?php echo gen_link($page, $link); ?>
            </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <button class="btn btn-primary user-menubutton" type="button" data-toggle="collapse" data-target="#usermenu" aria-controls="usermenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="usermenu">
        <ul class="navbar-nav ">
            <?=gen_userlinks($page)?>
        </ul>
    </div>
</nav>
