<?php foreach($content['product'] as $product) : ?>
    <div class="row product-detail mb-5 pb-4 border border-top-0 border-left-0 border-right-0 border-dark">
        <div class="col-xs-12 col-sm-12 col-md-6 mb-4 image-container">
            <img class="product-image border rounded p-2 w-100" src="<?=$page['url']['baseurl']?>images/products/<?=$product['image']?>" alt="<?=$product['title']?>">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 content-container">
            <h1><?=$product['title']?></h1>
            <p><?=$product['description']?></p>
            <div class="pull-right product-price">
                <i class="fa fa-euro" aria-hidden="true"></i>
                <?=format_price($product['price'])?>
            </div>
            <form name="add-product-<?=$product['id']?>" data-id="<?=$product['id']?>" class="add-product-form d-flex">
                <input type="hidden" id="id" name="product-id" value="<?=$product['id']?>"/>
                <input type="hidden" id="price" name="product-price" value="<?=$product['price']?>"/>
                <div class="form-group align-self-end m-0">
                    <label for="amount">Aantal</label>
                    <input type="number" id="amount" class="form-control" name="amount" value="1"/>
                </div>
                <button type="submit" class="btn btn-info align-self-end ml-2"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
            </form>
        </div>
    </div>
<?php endforeach; ?>
