<div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 p-0 collapse-container">
  <div class="card">
    <div class="card-header collapse-trigger">
      <h4>Categorie&euml;n</h4>
    </div>
    <div class="collapse-content">
      <div class="card-body">
        <div class="list-group content-loader" id="categories-container">
          <?php foreach($content['categories'] as $category) : ?>
            <a href="<?=$page['url']['baseurl']?>shop/category/<?=$category['url']?>/" class="list-group-item"><?=$category['title']?></a>
            <?php if (isset($category['sub'])) : ?>
              <?php foreach($category['sub'] as $sub) : ?>
                <a href="<?=$page['url']['baseurl']?>shop/category/<?=$sub['url']?>/" class="list-group-item list-group-item-secondary"><?=$sub['title']?></a>
              <?php endforeach; ?>
            <?php endif; ?>
          <?php endforeach; ?>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 content-loader" id="products-container">
  <div class="row d-flex">
    <?php foreach($content['products'] as $product) : ?>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 align-self-end product my-4">
        <div class="card border-0">
          <a href="<?=$page['url']['baseurl']?>shop/product/<?=$product['id']?>/">
            <img class="card-img-top" src="<?=$page['url']['baseurl']?>images/products/<?=$product['image']?>" alt="<?=$product['title']?>">
          </a>
          <div class="card-body border-info rounded-bottom my-2">
            <h5 class="card-title"><?=$product['title']?></h5>
            <p class="card-text">
              <?=short_description($product['description'])?><a href="<?=$page['url']['baseurl']?>shop/product/<?=$product['id']?>/">lees meer</a>
            </p>
            <div class="pull-left product-price">
              <i class="fa fa-euro" aria-hidden="true"></i>
              <?=format_price($product['price'])?>
            </div>
            <button class="btn btn-info pull-right add-to-cart" data-sku="<?=$product['sku']?>" data-productid="<?=$product['id']?>" data-price="<?=$product['price']?>"><i class="fa fa-cart-plus" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    <?php endforeach; ?>
  </div>
</div>
