<div class="profile-orders">
    <?php if (!empty($content['orders'])) : ?>
        <?php foreach ($content['orders'] as $order) : ?>
          ?>
            <div class="order-pill">
                <div class="order-inf id"><span>Order id:</span><?=$order['order_id']?></div>
                <div class="order-inf date"><span>Date:</span><?=date('d M, y @ H:i', strtotime($order['order_date']))?></div>
                <div class="order-inf total"><span>Total:</span><?=$order['order_price_inc']?></div>
                <div class="order-inf status"><span>Status:</span><?=gen_status_label($order['order_status_id'])?></div>

                <a href="<?=$page['url']['baseurl']?>checkout/cart/<?=$order['cart_id']?>/status/<?=$order['order_status_id']?>">
                  <button class="btn pull-right btn-primary">Checkout</button>
                </a>
            </div>
        <?php endforeach; ?>
    <?php else : ?>
        Geen bestellingen gevonden.
    <?php endif; ?>
</div>
