<div class="container checkout-container">
    <h1>Afrekenen</h1>
    <div class="row" id="company">
      <div class="col-xs-12 col-md-6" id="company-logo">
        <img src="<?=$page['url']['baseurl']?>/images/triplea4-logo.png" />
      </div>
      <div class="col-xs-12 col-md-6" id="company-info">
          <table class="mb-4 float-right">
              <tr>
                <td class="pl-2" colspan="2"><strong>Triple-A4</strong></td>
              </tr>
              <tr>
                <td class="pl-2" colspan="2">Daltonlaan 300</td>
              </tr>
              <tr>
                <td class="pl-2 pb-3" colspan="2">3584 BK Utrecht</td>
              </tr>
              <tr>
                <td>KvK:</td>
                <td class="pl-2">214365</td>
              </tr>
              <tr>
                <td>BTW:</td>
                <td class="pl-2">NL214365</td>
              </tr>
              <tr>
                <td>Bank</td>
                <td class="pl-2"><strong>Banknaam</strong></td>
              </tr>
              <tr>
                <td></td>
                <td class="pl-2">NL99 BANK 0123 4567 89</td>
              </tr>
          </table>
      </div>
    </div>
    <div class="row" id="order">
        <div class="col-xs-12 col-md-6" id="user-info">
            <h4 class="mt-4">Gebruiker</h4>
            <table class="mb-4">
                <tr>
                    <td class="pr-2"><strong>Naam:</strong></td>
                    <td class="pl-2"><?=$content['user']['firstname'].' '.$content['user']['lastname']?></td>
                </tr>
                <tr>
                    <td class="pr-2"><strong>Adres:</strong></td>
                    <td class="pl-2"><?=$content['user']['street'].' '.$content['user']['housenumber']?></td>
                </tr>
                <tr>
                  <td></td>
                  <td class="pl-2"><?=$content['user']['postal'].' '.$content['user']['city']?></td>
                </tr>
            </table>
        </div>
        <div class="col-xs-12 col-md-6" id="order-info">
            <h4 class="mt-4">Bestelling</h4>
            <table class="mb-4 float-right">
                <tr>
                    <td class="pr-2"><strong>Ordernummer:</strong></td>
                    <td class="pl-2"><?=$content['order']['order_id']?></td>
                </tr>
                <tr>
                    <td class="pr-2"><strong>Datum:</strong></td>
                    <td class="pl-2"><?=date('d-m-Y', strtotime($content['order']['order_date']))?></td>
                </tr>
                <tr>
                    <td class="pr-2"><strong>Vervaldatum:</strong></td>
                    <td class="pl-2"><?=date('d-m-Y', strtotime($content['order']['order_date'].'+1 month'))?></td>
                </tr>
                <tr class="order_state">
                    <td class="pr-2"><strong>Status:</strong></td>
                    <td class="pl-2"><?=gen_status_label($content['order']['status'])?></td>
                </tr>
            </table>
        </div>
        <div class="col-12">
            <?php if ($content['cart']['products'] == null) : ?>
                <div class="alert alert-info" role="alert">
                    Something went wrong, go back to your <a href="<?=$page['url']['baseurl']?>cart">cart</a> and try again!
                </div>
            <?php else : ?>
                <table class="table table-striped" id="checkoutcart">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Producten</th>
                        <th scope="col">Aantal</th>
                        <th scope="col">Prijs</th>
                        <th scope="col">Totaal</th>
                    </tr>
                    </thead>
                    <tbody id="cart-body">
                    <?php foreach ($content['cart']['products'] as $prdid => $product) : ?>
                        <tr class="prdrow" data-prdid="<?=$prdid?>">
                            <td class="prdtitle"><?=$product['info']['title']?> <strong class="color2"></strong></td>
                            <td class="prdamt"><?=$product['amt']?></td>
                            <td class="prdprice"><i class="fa fa-eur" aria-hidden="true"></i> <span><?=format_price($product['prc'])?></span></td>
                            <td class="prdtotal"><i class="fa fa-eur" aria-hidden="true"></i> <span><?=format_price($product['prctotal'])?></span></td>
                        </tr>
                    <?php endforeach; ?>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="3">
                            Ex. BTW:
                        </td>
                        <td><i class="fa fa-eur" aria-hidden="true"></i> <span id="priceEx"><?=format_price($content['cart']['carttotal']['ex']);?></span></td>
                    </tr>
                    <tr class="total">
                        <td colspan="3">
                            <strong>Bestelling totaal:</strong>
                        </td>
                        <td><i class="fa fa-eur" aria-hidden="true"></i> <span id="priceInc"><?=format_price($content['cart']['carttotal']['inc']);?></span></td>
                    </tr>
                    </tfoot>
                </table>
                <div id="checkout-actions" class="bg-primary col-xs-12 col-sm-6 col-md-4 pull-right">
                    <a href="<?=$page['url']['baseurl']?>checkout/cart/<?=$content['cart']['cart_id']?>/status/success/"><button class="btn btn-success w-100 mt-2 mb-2">Succes</button></a>
                    <a href="<?=$page['url']['baseurl']?>checkout/cart/<?=$content['cart']['cart_id']?>/status/hold/"><button class="btn btn-warning w-100 mt-2 mb-2">In de wacht</button></a>
                    <a href="<?=$page['url']['baseurl']?>checkout/cart/<?=$content['cart']['cart_id']?>/status/cancel/"><button class="btn btn-danger w-100 mt-2 mb-2">Afbreken</button></a>

                    <?php if ($content['order']['status'] == 2) : ?>
                      <button class="btn w-100 mt-2 mb-2" onclick="window.print()">Print factuur</button>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
        </div>
    </div>
</div>
