<?php include BASEDIR.'parts/carousel.phtml'; ?>
<main>

    <!-- Container -->
    <div class="container">

        <?php if (isset($page['content'])) : ?>
            <article id="main-container">
                <?php foreach ($page['content'] as $content) : ?>
                    <div class="card col-12 p-0 mb-4">
                        <div class="card-header">
                            <h3 class="card-title"><?=$content['content_title']?></h3>
                        </div>
                        <div class="card-body">
                            <?=$content['content']?>
                        </div>
                    </div>
                <?php endforeach; ?>
            </article>
        <?php endif; ?>

    </div>
</main>
