<div class="container">
    <div class="row justify-content-center">
        <div class="card col-xs-12 col-sm-12 col-md-6 col-lg-4 p-0 login-container">
            <div class="card-header">
                <h4>Inloggen</h4>
            </div>
            <div class="card-body">
                <form name="login-form" id="login-form" method="post">
                    <?php if (isset($content['loginfeedback'])) : ?>
                        <?php if ($content['loginfeedback'] == false) : ?>
                            <div class="alert alert-danger" role="alert">
                                Er is iets fout gegaan, probeer het opnieuw.
                            </div>
                        <?php else : header('Refresh: 3;URL='.$page['url']['baseurl']); ?>
                            <div class="alert alert-success" role="alert">
                                Bezig met inloggen...
                            </div>
                        <?php endif; ?>
                    <?php endif;?>
                    <div class="form-group">
                        <label for="username">Gebruikersnaam</label>
                        <input type="text" class="form-control" name="username" id="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Wachtwoord</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="form-check pull-left">
                        <label class="form-check-label">
                            <input type="checkbox" name="remind" id="remind" class="form-check-input">
                            Onthouden
                        </label>
                    </div>
                    <button type="submit" name="login" class="btn btn-primary pull-right">Inloggen</button>
                </form>
            </div>
        </div>
    </div>
</div>
