<div class="container p-5">
    <div class="row justify-content-center">
        <?php if (isset($content['logoutfeedback'])) : ?>
            <?php if ($content['logoutfeedback'] == true) : header('Refresh: 3;URL='.$page['url']['baseurl']); ?>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 alert alert-info" id="logout-message" role="alert">
                    Bezig met uitloggen
                </div>
            <?php else : ?>
                <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 alert alert-danger" id="logout-message" role="alert">
                    Er is iets fout gegaan, probeer het opnieuw.
                </div>
            <?php endif; ?>
        <?php endif; ?>
    </div>
</div>
