<div class="container profile-container">
    <h1>Profiel</h1>
    <?php if (!isset($page['url']['pagevars'][0])) : ?>
        <a href="<?=$page['url']['baseurl']?>profile/orders"><button class="btn w-100 btn-primary">Bestellingoverzicht</button></a>
    <?php else : ?>
        <?php if (isset($content['orders'])) : ?>
            <?php include BASEDIR.'parts/profile-orders.phtml'; ?>
        <?php endif; ?>
    <?php endif; ?>


</div>
