<div class="container">
    <div class="card w-100 pull-left register-container">
        <div class="card-header">
            <h4>Registreren</h4>
        </div>
        <div class="card-body">
            <form name="register-form" id="register-form" method="post" class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="form-group w-100 pull-left">
                        <label for="username">Gebruikersnaam</label>
                        <input type="text" class="form-control <?=($content['registerfeedback']['checkUsername']?'is-invalid':'')?>" id="username" name="username" value="<?=(isset($_POST['username'])?$_POST['username']:'')?>" required>
                        <div class="invalid-feedback">
                          Gebruikersnaam is al bezet.
                        </div>
                    </div>
                    <div class="form-group w-100 pull-left">
                        <label for="password">Wachtwoord</label>
                        <input type="password" class="form-control" id="password" name="password" value="<?=(isset($_POST['password'])?$_POST['password']:'')?>" required>
                    </div>

                    <div class="form-group w-100 pull-left">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control <?=($content['registerfeedback']['checkEmail']?'is-invalid':'')?>" id="email" name="email" value="<?=(isset($_POST['email'])?$_POST['email']:'')?>" required>
                        <div class="invalid-feedback">
                            E-mail is al bezet.
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="form-group w-50 pr-2 pull-left">
                        <label for="firstname">Voornaam</label>
                        <input type="text" class="form-control" id="firstname" name="firstname" value="<?=(isset($_POST['firstname'])?$_POST['firstname']:'')?>" required>
                    </div>
                    <div class="form-group w-50 pl-2 pull-left">
                        <label for="lastname">Achternaam</label>
                        <input type="text" class="form-control" id="lastname" name="lastname" value="<?=(isset($_POST['lastname'])?$_POST['lastname']:'')?>" required>
                    </div>
                    <div class="form-group w-75 pr-2 pull-left">
                        <label for="street">Straat</label>
                        <input type="text" class="form-control" id="street" name="street" value="<?=(isset($_POST['street'])?$_POST['street']:'')?>" required>
                    </div>
                    <div class="form-group w-25 pl-2 pull-left">
                        <label for="housenumber">Huisnummer</label>
                        <input type="text" class="form-control" id="housenumber" name="housenumber" value="<?=(isset($_POST['housenumber'])?$_POST['housenumber']:'')?>" required>
                    </div>
                    <div class="form-group w-25 pr-2 pull-left">
                        <label for="postal">Postcode</label>
                        <input type="text" class="form-control" id="postal" name="postal" value="<?=(isset($_POST['postal'])?$_POST['postal']:'')?>" required>
                    </div>
                    <div class="form-group w-75 pl-2 pull-left">
                        <label for="city">Stad</label>
                        <input type="text" class="form-control" id="city" name="city" value="<?=(isset($_POST['city'])?$_POST['city']:'')?>" required>
                    </div>
                </div>
                <div class="col-auto ml-auto">
                    <button type="submit" name="register" class="btn btn-primary">Registreren</button>
                </div>
            </form>
        </div>
    </div>
</div>
