  <div class="container cart-container">
  <h1 class="pb-2">Winkelwagen</h1>
  <div class="row">
    <div class="col-12">
      <?php if ($content['cart']['products'] == null) : ?>
        <div class="alert alert-info" role="alert">
          Geen producten in de winkelwagen.<br>
          Klik <a href="<?=$page['url']['baseurl']?>shop">hier</a> om producten toe te voegen.
        </div>
      <?php else : ?>
        <table class="table table-striped" id="shoppingcart">
          <thead class="thead-light">
          <tr>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Aantal</th>
            <th scope="col">Totaal</th>
            <th scope="col"></th>
          </tr>
          </thead>
          <tbody id="cart-body">
            <?php foreach ($content['cart']['products'] as $prdid => $product) : ?>
              <tr class="prdrow" data-prdid="<?=$prdid?>">
                <td class="prdimg"><img class="product-image border rounded p-2" src="<?=$page['url']['baseurl']?>images/products/<?=$product['info']['image']?>" alt="<?=$product['info']['title']?>"></td>
                <td class="prdtitle"><?=$product['info']['title']?></td>
                <td class="prdamt form-group"><input type="number" class="prdamt form-control" data-price="<?=$product['info']['price']?>" data-amt="<?=$product['amt']?>" value="<?=$product['amt']?>" /></td>
                <td class="prdtotal"><i class="fa fa-eur" aria-hidden="true"></i> <span><?=format_price($product['prctotal'])?></span></td>
                <td class="prddel"><button type="button" class="delete-product btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button></td>
              </tr>
            <?php endforeach; ?>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                <button type="button" id="empty-cart" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i> Leeg maken</button>
              </td>
            </tr>
          </tfoot>
        </table>
        <div id="cart-totals" class="bg-primary col-xs-12 col-sm-6 col-md-4 p-0 pull-right">
          <h2>Totaal</h2>
          <table class="table">
            <tbody>
              <tr>
                <td>Ex. BTW</td>
                <td><i class="fa fa-eur" aria-hidden="true"></i> <span id="priceEx"><?=format_price($content['cart']['carttotal']['ex']);?></span></td>
              </tr>
              <tr>
                <td>Inc. BTW</td>
                <td><i class="fa fa-eur" aria-hidden="true"></i> <span id="priceInc"><?=format_price($content['cart']['carttotal']['inc']);?></span></td>
              </tr>
            </tbody>
          </table>
          <a href="<?=$page['url']['baseurl']?>checkout/cart/<?=$content['cart']['cart_id']?>">
            <button type="button" id="checkout" class="btn btn-success">
              <i class="fa fa-check" aria-hidden="true"></i> Afrekenen
            </button>
          </a>
        </div>
      <?php endif; ?>
    </div>
  </div>
</div>
