<div class="container p-0">
    <div class="row p-2 m-1" id="products-maincontent">
        <?php if (!isset($content['product'])) : ?>
            <?php include BASEDIR.'parts/products-overview.phtml'; ?>
        <?php else : ?>
            <?php include BASEDIR.'parts/product-detail.phtml'; ?>
        <?php endif; ?>
    </div>
</div>